
body{
	margin: 0;
	background-color: #b6d6dd;
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
}
.main {
	width: 70%;
	margin:auto;
	/*border: 1px solid green;*/
}

h1 {
	font-size: 3em;
	float: left;
}

.level{
	width: 200px;
}

.score{
	float: right;
	width: 280px;
}

.wrapper{
	clear: both;
	width: 412px;
	height: 300px;
	position: relative;
	left: -20px;
	margin: 0 auto;
	margin-top: -100px;
	/*border: 1px solid red;*/
}

.dropshadow{
	width: 540px;
	height: 26px;
	position: relative;
	top: -40px;
	left: 145px;
}

.blue{
	background-image: url('../img/drop-shadow-blue.png'); 
}

.watermark{
	width: 650px;
	height: 250px;
	margin: 0 auto;
	background-image: url('../img/logo-watermark.png');
	background-repeat: no-repeat;
	position:relative;
	left:-20px;
	top:80px;
	z-index:-1;
}

.cup{
	background-image: url('../img/cup.png');
	background-repeat: no-repeat;
	width: 122px;
	height: 227px;
	padding-right: 15px;
	float: left;
}

.cup:last-child{
	padding-right: 0;
}

#ball{
	position: relative;
	top: 90px;
	left: 160px;
	background-image: url('../img/ball.png');
	background-repeat: no-repeat;
	width: 75px;
	height: 75px;
	z-index:-3;
}

#ball2{
	position: relative;
	top: 170px;
	left: 25px;
	background-image: url('../img/ball.png');
	background-repeat: no-repeat;
	width: 75px;
	height: 75px;
	z-index:-3;
}
